<h3>Formulário de solicitação de colaborador(a)</h3>

<form [formGroup]="requestForm">
  <div class="box-input">
    <label>Área de atuação: </label>
    <select formControlName="areas">
      <option *ngFor="let area of areas">{{area}}</option>
    </select>
  </div>

  <div class="box-input">
    <label>Quantidade: </label>
    <div class="displayQtd">

      <button (click)="subQtdRequest()">-</button>

      <input formControlName="amount" [value]="this.requestForm.value.amount" />

      <button (click)="addQtdRequest()">+</button>

    </div>
  </div>

  <div class="box-input">
    <label>Escolaridade: </label>

    <div class="box-check-box">

      <div *ngFor="let option of schalarityOp" class="check-box">
        <input type="radio" formControlName="scholarity" value="{{option}}">
        <p>{{option}}</p>
      </div>

    </div>

      <!--<select formControlName="scholarity">
        <option *ngFor="let option of schalarityOp" value="option">
          {{option}}
        </option>
      </select>-->
  </div>

  <div class="box-input">
    <label>Observação: </label>
    <textarea formControlName="note"></textarea>
  </div>


<div class="buttons">
  <button class="submit" [disabled]="requestForm.invalid" (click)="sendRequest()">Enviar</button>
  <button class="cancel" (click)="cancelRequest()">Cancelar</button>
</div>
</form>
