label {
  margin: 0.6rem 0;
  font-weight: 600;
  font-size: 18px;
}

.box-input {
  padding: 1rem 0;
  width: 100%;
  display: grid;
}

.displayQtd input {
  max-width: 30rem;
  border: solid 0.2rem #EA973B;
  margin: 0.3rem;
}

.displayQtd button {
  border-radius: 0.5rem;
  font-size: 24px;
  min-width: 3rem;
  min-height: 3rem;
  color: #fff;
  background-color: #EA973B;
  border: 0 none;
  outline: 0;
}

.check-box {
  display: flex;
  padding: 0.2rem 0.3rem 0.2rem 0;
}

.check-box input {
  min-width: 25px;
  min-height: 25px;
  margin-right: 5px;
}

.box-check-box {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

input, textarea, select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: 0;
}

.buttons {
  display: flex;
}

.submit:hover, .cancel:hover {
  opacity: 0.8;
}

.submit {
  width: 100%;
  padding: 1rem;
  background-color: #008000;
  margin: 1rem 0.5rem 0 0;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.cancel {
  width: 100%;
  padding: 1rem;
  background-color: #ff0000;
  margin: 1rem 0 0 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
