<div class="content">
  <h1>lista</h1>
  <table>
    <th>Área de atuação</th>
    <th>Quantidade</th>
    <th>Escolaridade</th>
    <th>Observação</th>

    <tr *ngFor="let lista of listar">
      <td>{{lista.area}}</td>
      <td>{{lista.qtd}}</td>
      <td>{{lista.escolaridade}}</td>
      <td>{{lista.obs}}</td>
    </tr>

  </table>
</div>
