<app-header [receiver]="emissor" ></app-header>
<router-outlet></router-outlet>

<!--
<p [class.teste2]="variavel2"> testando isso aqui</p>

<button (click)="variavel()">botão</button>

<app-header [receiver]="emissor"></app-header>


{{informacoes}}
-->
