<h1>Lista</h1>

<!-- <p>Contador</p>


<button (click)="sub()">-</button>
<input [value]="variavelQtd" readonly />
<button (click)="add()">+</button>

<input type="text" (pointerout)="funcao()" #viewchild  />
-->
