<div class="content">
  <form>

    <div class="boxInput">
      <label>Área de atuação: </label>
      <select [(ngModel)]="colaborador.area" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let area of areas">{{area}}</option>
      </select>
    </div>

    <div class="boxInput">
      <label>Quantidade: </label>
      <input [(ngModel)]="colaborador.qtd" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="boxInput">
      <label>Escolaridade: </label>
      <select [(ngModel)]="colaborador.escolaridade" [ngModelOptions]="{standalone: true}">
        <option>Ensino Médio Completo</option>
        <option>Ensino Superior Incompleto</option>
        <option>Ensino Superior Completo</option>
      </select>
    </div>

    <div class="boxInput">
      <label>Observação: </label>
      <textarea [(ngModel)]="colaborador.obs" [ngModelOptions]="{standalone: true}" name="obs" cols="30" rows="10"></textarea>
    </div>

    <button (click)="solicitar()" type="submit">Enviar</button>

  </form>
</div>
