.content {
  margin: 0 auto;
  padding: 1rem;
  max-width: 80rem;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 1rem;
  border: solid 0.1rem #ccc;
}

select, textarea {
  display: grid;
  width: 50rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
  outline: 0;
}

button {
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #008000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  opacity: 90%;
}

button:active {
  background-color: #004600;
}
