<header>

  <a routerLink="">
    <img [src]="logo" alt="Solos Brasil">
  </a>
  <h3>Solicitação de Colaboradores</h3>
  <ul>
    <a routerLink="form">
      <li>Solicitar Colaborador</li>
    </a>
    <a routerLink="list">
      <li>Listar Solicitações</li>
    </a>
  </ul>
</header>

