header
{
  display: block;
  justify-content: center;
  text-align: center;
}

header img {
  margin: 1rem 0 0 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #EA973B;
  font-weight: bold;
}

a {
  padding: 1.5rem;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
}


