/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
  margin-bottom: 4rem;
}

section {
    margin: 0 auto;
    padding: 1rem;
    max-width: 80rem;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 1rem;
    border: solid 0.1rem #ccc;
    margin-bottom: 5rem;
}

h3 {
  text-align: center;
  padding: 0.5rem;
}

footer {
  background-color: #EA973B;
  padding: 1rem;
  text-align: center;



}
