  <h3>Solicitações de colaboradores</h3>
  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Área de atuação</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Escolaridade</th>
        <th scope="col">Observação</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let option of list">
      <td>{{option.areas}}</td>
      <td>{{option.amount}}</td>
      <td>{{option.scholarity}}</td>
      <td>{{option.note}}</td>
    </tr>
  </tbody>
  </table>
