<div class="header">

  <img [src]="logo" alt="Solos Brasil">
  <h3>Solicitação de Colaboradores</h3>
  <ul>
    <a routerLink=""><li>Solicitar Colaborador</li></a>
    <a routerLink="solicitacoes"><li>Listar Solicitações</li></a>
  </ul>
</div>
