  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://solosbrasil.com/wp-content/uploads/2021/06/integracoes.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="authForm">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" formControlName="email" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Endereço de e-mail</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" class="form-control form-control-lg" formControlName="password" />
            <label class="form-label" for="form1Example23">Senha</label>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">

            <a href="#!">Esqueceu a senha?</a>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="authForm.invalid" (click)="sendAuth()">Entrar</button>
        </form>
      </div>
    </div>
  </div>
